:root {
  --ui-font-size: 1.5rem;
  --primary-heading-font-size: calc(var(--ui-font-size) * 2.3);
  --input-padding: 0.5em 1em;
  --major-section-margin-size: 40px;
  --black-color: black;
  --white-color: white;
  --main-grid-column: 1 / 4
}

@media only screen and (orientation: landscape) {
  :root {
    --grid-template-columns: 1fr;
    --main-grid-column: 1
  }
}

@media (min-width: 768px) {
  :root {
    --grid-template-columns: 1fr 3fr 1fr;
    --main-grid-column: 2
  }
}

html {
  font-size: 1vw;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: var(--grid-template-columns);
  background-color: var(--black-color);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  grid-column: var(--main-grid-column);
  background-color: var(--white-color);
  padding: 2rem;
}


h1 {
  font-size: var(--primary-heading-font-size);
  text-align: center;
}

input {
  padding: var(--input-padding);
  font-size: var(--ui-font-size);
}

button {
  padding: var(--input-padding);
  font-size: var(--ui-font-size);
}

.operator-pad {
  display: inline-block;
}

.input-area {
  margin-top: var(--major-section-margin-size);
  display: flex;
}

.keypad {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin-right: 2em;
}

.operator-pad {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}


.result-area {
  font-size: var(--ui-font-size);
  margin-bottom: var(--major-section-margin-size);
}

.expression-area {
  font-size: var(--ui-font-size);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: var(--major-section-margin-size);
}

.keypad-btn {
  flex: 1 25%;
  margin: 10px;
}

.operator-btn {
  flex: 1 40%;
  margin: 10px;
}

.expression-area-element {
  margin-top: 10px;
}

#result {
  font-style: normal;
}

#decimal-precision-fieldset {
  border: none;
  align-self: flex-start;
  flex: 1;
}