:root {
  --ui-font-size: 32px;
  --primary-heading-font-size: calc(var(--ui-font-size) * 2.3);
  --input-padding: 0.5em 1em;
  --major-section-margin-size: 40px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 2rem;
  font-size: px;
}

h1 {
  font-size: var(--primary-heading-font-size);
}

input {
  padding: var(--input-padding);
  font-size: var(--ui-font-size);
}

button {
  padding: var(--input-padding);
  font-size: var(--ui-font-size);
}

.operator-pad {
  display: inline-block;
}

.input-area {
  margin-top: var(--major-section-margin-size);
  display: flex;
  width: 50vw;
}

.keypad {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin-right: 2em;
  flex: 2 30vw;
}

.operator-pad {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin-right: 2em;
  flex: 1 20vw;
}


.result-area {
  font-size: var(--ui-font-size);
  margin-bottom: var(--major-section-margin-size);
}

.expression-area {
  font-size: var(--ui-font-size);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  margin-bottom: var(--major-section-margin-size);
}

.keypad-btn {
  flex: 1 25%;
  margin: 10px;
}

.operator-btn {
  flex: 1 40%;
  margin: 10px;
}

.expression-area-element {
  margin-top: 10px;
}

#result {
  font-style: normal;
}

#decimal-precision-fieldset {
  border: none;
  align-self: flex-start;
  flex: 1;
}
